<div class="navbar navbar-default" ng-if="authService.isAnonymous()">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">Ads</span>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="true">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse in" id="navbar-main1" aria-expanded="true" style="">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="navbar navbar-default" ng-if="authService.isNormalUser()">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">Ads</span>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="true">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse in" id="navbar-main2" aria-expanded="true" style="">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/user/ads">My Ads</a></li>
                <li><a href="#/user/ads/publish">Publish new add</a></li>
                <li><a href="#/user/profile">Edit profile</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">{{username}}</p></li>
                <li><a href='#/' ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>