<div class="row">
    <div class="col-md-2">
        <div class="bs-component" ng-if="authService.isAnonymous()">
            <h4 class="text-center">To publish a new ad, please login.</h4>
            <div class="span2">
                <a href="#/login" role="button" class="btn btn-primary btn-block">Login</a>
                <a href="#/register" role="button" class="btn btn-primary btn-block">Register</a>
            </div>
        </div>
    </div>

    <div  class="col-md-8">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>User Registration</legend>
                    <div class="form-group">
                        <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="userData.username" class="form-control" id="inputUsername" placeholder="Username..">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" ng-model="userData.password" class="form-control" id="inputPassword" placeholder="Password..">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordRep" class="col-lg-2 control-label">Repeat Password</label>
                        <div class="col-lg-10">
                            <input type="password" ng-model="userData.confirmPassword" class="form-control" id="inputPasswordRep" placeholder="Repeat Password..">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="userData.name" class="form-control" id="inputName" placeholder="Name..">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" ng-model="userData.email" class="form-control" id="inputEmail" placeholder="Email..">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="userData.phone" class="form-control" id="inputPhone" placeholder="Phone..">
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="inputPhone" class="col-lg-2 control-label">Town</label>
                    <div class="col-lg-10">
                        <select id="town" ng-model="userData.townId">
                            <option value="null">(None)</option>
                            <option ng-repeat="town in townData" value="{{town.id}}">{{town.name}}</option>
                        </select>
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a href="#/ads" role="button" class="btn btn-default">Cancel</a>
                            <button type="submit" ng-click="register(userData)" class="btn btn-primary">Register</button>
                            <a href="#/login" class="pull-right">Login here</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>