<div class="row">
    <div class="col-md-2">
        <div class="bs-component" ng-if="authService.isAnonymous()">
            <h4 class="text-center">To publish a new ad, please login.</h4>
            <div class="span2">
                <a href="#/login" role="button" class="btn btn-primary btn-block">Login</a>
                <a href="#/register" role="button" class="btn btn-primary btn-block">Register</a>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div ng-repeat="ad in adsData.ads ">
            <div class="panel panel-default">
                <div class="panel-heading">
                   {{ad.title}}
                    <div class="pull-right">{{ad.date| date:'dd-MMM-yyyy'}}</div>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="ad-image-container">
                                <img src='images/no-image-available.png' ng-src="{{ad.imageDataUrl}}">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {{ad.text}}
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-1">-->
                                            <!--<strong>Name:</strong><br>-->
                                            <!--<strong>Email:</strong><br>-->
                                            <!--<strong>Phone:</strong>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-9">-->
                                            <!--{{ad.ownerName}}<br>-->
                                            <!--{{ad.ownerEmail}}<br>-->
                                            <!--{{ad.ownerPhone}}-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">Name</label>
                                        <div class="col-md-11">
                                            <input class="form-control input-sm" type="text" placeholder="{{ad.ownerName}}" disabled="">
                                        </div>
                                            <label class="col-md-1 control-label">Email</label>
                                        <div class="col-md-11">
                                            <input class="form-control input-sm" type="text" placeholder="{{ad.ownerEmail}}" disabled="">
                                        </div>

                                        <label class="col-md-1 control-label">Phone</label>
                                        <div class="col-md-11">
                                            <input class="form-control input-sm"  type="text" placeholder="{{ad.ownerPhone}}" disabled="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="right-panel" ng-controller="RightSidebarController">
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>
                <ul>
                    <li class="special"
                        ng-class="{'selected': selectedCategoryId == null}"
                        ng-click="categoryClicked(null)">
                            <div class="panel-body">
                                All
                            </div>
                    </li>
                    <li ng-repeat="category in categoryData"
                        ng-click="categoryClicked(category.id)"
                        ng-class="{'selected' : selectedCategoryId == category.id}">
                            <div class="panel-body">
                                {{category.name}}
                            </div>
                    </li>
                </ul>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Towns</h3>
                </div>
                <ul>
                    <li class="special"
                        ng-class="{'selected': selectedCategoryId == null}"
                        ng-click="categoryClicked(null)">
                            <div class="panel-body">
                                All
                            </div>
                    </li>
                    <li ng-repeat="town in townData"
                        ng-click="townClicked(town.id)"
                        ng-class="{'selected' : selectedTownId == town.id}" >
                            <div class="panel-body" >
                                {{town.name}}
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>